<% content_for :extra_js do %>
<script type="text/javascript">
  STEPS = <%= @steps_yaml['STEPS'].to_json.html_safe %>;
  STEP_ORDER = <%= @steps_yaml['STEP_ORDER'].to_json.html_safe %>;
  OPTION_SETS = <%= @measures_yaml['OPTION_SETS'].to_json.html_safe %>;
  MEASURES = <%= @measures_yaml['MEASURES'].to_json.html_safe %>;
  WebApp.set_install_id('<%= @install.id %>');
</script>
<% end %>
<div id="application">
  <div class="container">
  <!-- ko with: page -->
    <!-- ko if: $data instanceof AdminPage -->
      <p class="logged_in_as">Logged in as <span class="label label-info" data-bind="text: $parent.current_researcher().username"></span> <a href="#" class="text-danger" data-bind="click: logout">Logout</a></p>
    <!-- /ko -->
    <div class="starter-template">
    <h1>Apple questionnaire</h1>
    <p class="lead" data-bind="text: page_title"></p>
    <!-- ko ifnot: typeof subtitle == 'undefined' -->
      <p class="lead text-info" data-bind="text: subtitle"></p>
    <!-- /ko -->
    </div>


    <!-- ### choose which page to display, based on $data, which is the current scope (appModel.page) -->
    <!-- ko if: $data instanceof LoginPage -->
      <%= render 'login' %>
    <!-- /ko --> 
    <!-- ko if: $data instanceof AdminPage -->
    	<%= render 'admin' %>
    <!-- /ko -->
    <!-- ko if: $data instanceof QuestionnairePage -->
    	<%= render 'questionnaire' %>
    <!-- /ko -->    
  <!-- /ko -->
  </div>
</div>