<%= form_with(model: participant, local: true) do |form| %>
  <% if participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :added_by_id %>
    <%= form.number_field :added_by_id, id: :participant_added_by_id %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :participant_age %>
  </div>

  <div class="field">
    <%= form.label :questionnaire_started %>
    <%= form.datetime_select :questionnaire_started, id: :participant_questionnaire_started %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed, id: :participant_completed %>
  </div>

  <div class="field">
    <%= form.label :consented %>
    <%= form.check_box :consented, id: :participant_consented %>
  </div>

  <div class="field">
    <%= form.label :date_added %>
    <%= form.datetime_select :date_added, id: :participant_date_added %>
  </div>

  <div class="field">
    <%= form.label :date_consented %>
    <%= form.datetime_select :date_consented, id: :participant_date_consented %>
  </div>

  <div class="field">
    <%= form.label :date_modified %>
    <%= form.datetime_select :date_modified, id: :participant_date_modified %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :participant_first_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :participant_gender %>
  </div>

  <div class="field">
    <%= form.label :included %>
    <%= form.check_box :included, id: :participant_included %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :participant_notes %>
  </div>

  <div class="field">
    <%= form.label :participant_id %>
    <%= form.number_field :participant_id, id: :participant_participant_id %>
  </div>

  <div class="field">
    <%= form.label :patient_approached %>
    <%= form.check_box :patient_approached, id: :participant_patient_approached %>
  </div>

  <div class="field">
    <%= form.label :reason_not_approached %>
    <%= form.text_field :reason_not_approached, id: :participant_reason_not_approached %>
  </div>

  <div class="field">
    <%= form.label :reason_not_approached_other %>
    <%= form.text_field :reason_not_approached_other, id: :participant_reason_not_approached_other %>
  </div>

  <div class="field">
    <%= form.label :reason_terminated %>
    <%= form.text_field :reason_terminated, id: :participant_reason_terminated %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :participant_status %>
  </div>

  <div class="field">
    <%= form.label :study_id %>
    <%= form.text_field :study_id, id: :participant_study_id %>
  </div>

  <div class="field">
    <%= form.label :terminated %>
    <%= form.check_box :terminated, id: :participant_terminated %>
  </div>

  <div class="field">
    <%= form.label :termination_type %>
    <%= form.text_field :termination_type, id: :participant_termination_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
