<h1>Participant details <small><%= @participant %></small></h1>
<p><%= link_to 'Back to list', participants_path, :class=>"btn btn-default"%></p>
<div class="panel panel-default">
  <div class="panel-heading">
    Details
  </div>
  <div class="panel-body">
    <ul class="list-inline">

      <li>
        <strong>Devie Install ID:</strong>
        <span class="text-info"><%= @participant.install_id %></span>
      </li>
      <li>
        <strong>ID on device:</strong>
        <span class="text-info"><%= @participant.participant_id %></span>
      </li>

      <li>
        <strong>Study id:</strong>
        <span class="text-info"><%= @participant.study_id %></span>
      </li>

      <li>
        <strong>Added by:</strong>
        <span class="text-info"><%= @participant.added_by.try(:username) %></span>
      </li>


      <li>
        <strong>Status:</strong>
        <span class="text-info"><%= @participant.status %></span>
      </li>

      <li>
        <strong>Included:</strong>
        <% if @participant.included %><span class="text-success glyphicon glyphicon-ok"></span><% end %>
      </li>

      <li>
        <strong>Consented:</strong>
        <% if @participant.consented %><span class="text-success glyphicon glyphicon-ok"></span><% end %>
      </li>

      <li>
        <strong>Completed:</strong>
        <% if @participant.completed %><span class="text-success glyphicon glyphicon-ok"></span><% end %>
      </li>
    </ul>

    <ul class="list-inline">
      <li>
        <strong>Questionnaire started:</strong>
        <span class="text-info"><%= @participant.questionnaire_started %></span>
      </li>
      
      <li>
        <strong>Date added:</strong>
        <span class="text-info"><%= @participant.date_added.try(:to_s, :long) %></span>
      </li>

      <li>
        <strong>Date consented:</strong>
        <span class="text-info"><%= @participant.date_consented.try(:to_s, :long) %></span>
      </li>

      <li>
        <strong>Date modified:</strong>
        <span class="text-info"><%= @participant.date_modified.try(:to_s, :long) %></span>
      </li>
    </ul>

    <ul class="list-inline">
      <li>
        <strong>Age:</strong>
        <span class="text-info"><%= @participant.age %></span>
      </li>

      <li>
        <strong>First name:</strong>
        <span class="text-info"><%= @participant.first_name %></span>
      </li>

      <li>
        <strong>Gender:</strong>
        <span class="text-info"><%= @participant.gender %></span>
      </li>



      <li>
        <strong>Notes:</strong>
        <span class="text-info"><%= @participant.notes %></span>
      </li>
    </ul>

    <ul class="list-inline">
      <li>
        <strong>Patient approached:</strong>
        <% if @participant.patient_approached %><span class="text-success glyphicon glyphicon-ok"></span><% end %>
      </li>

      <li>
        <strong>Reason not approached:</strong>
        <span class="text-info"><%= @participant.reason_not_approached %></span>
      </li>

      <li>
        <strong>Reason not approached other:</strong>
        <span class="text-info"><%= @participant.reason_not_approached_other %></span>
      </li>

      <li>
        <strong>Reason terminated:</strong>
        <span class="text-info"><%= @participant.reason_terminated %></span>
      </li>



      <li>
        <strong>Terminated:</strong>
        <span class="text-info"><%= @participant.terminated %></span>
      </li>

      <li>
        <strong>Termination type:</strong>
        <span class="text-info"><%= @participant.termination_type %></span>
      </li>
    </ul>
  </div>
</div>
<% if questionnaire = @participant.questionnaire %>
  <h2>Questionnaire responses</h2>
  <% questionnaire.response_data.each do |step| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= step[:id] %>
      </div>
      <div class="panel-body">
        <ul class="list-inline">
          <% step[:measures].each do |m| %>
            <li>
              <strong><%= m[:id] %>:</strong>
              <span class="text-info"><%= m[:value] %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>